h1{
    color: aliceblue;
    background-color: gray;
    text-align: center;
}
p{
    position: absolute;
    left: 10px;
    width: 700px;
}
ul{
    position:absolute;
    right: 50px;
    width: 700px;
}
a{
    color: red;
}
h2{
    text-align: center;
}
h3{
    color: gray;
}