/* header section start */

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 5rem;
    background-color: #f4f2f1;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-logo a{
    padding-right: 26px;
}

.navbar-caption a{
    text-transform: uppercase;
    font-size: 16.84px;
    font-weight: 700;
    color: rgb(35, 35, 35);
    line-height: 16.84px;
}

.navbar-collapse{
    display: flex;
    align-items: center;
}

.navbar-collapse ul{
    display: flex;
    gap: 30px;
}

.navbar-collapse ul li a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}

.icons{
    padding-left: 2.4rem;
    display: flex;
    gap: 18px;
}
/*  header section end  */
/* main-section top start */
/* main-section bottom start */
.main-section1{
    background-image: url("https://mobirise.com/extensions/naturalm4/natural-cosmetic/assets/images/background9.jpg");
    background-size: cover;
    background-position:50% 50%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 950px;
}

.main-section1::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.4;
}

.main-headr1{
    position: relative;
    z-index: 9;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 8rem;
}

.main-header-left{
    width: 50%;
    margin-top: 10rem;
}

.left-side-about p{
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.left-side-about h2{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.1;
    padding-bottom: 1rem;
}

.btn-header{
    margin-top: 24px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-header a{
    border: 2px solid ;
    padding: 0.7rem 2.8rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    border-color: #ff2b09;
    color: #2b2b2b;
}

.btn-header a:hover{
    color: white;
    background-color: #ff2b09;
}

.prdct img{
    margin-top: 6.5rem;
    width: 85%;
}
/* main-section top end */
/* main-section bottom end */
/* main-section about start */
.caption-about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.cards-about{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card{
    padding: 10px 10px 60px;
    width: 31%;
}

.card .img{
    background-color: #f2f2f2;
    padding: 65px;
}

.card .img img{
    margin-bottom: 1.5rem;
}

.card .img h3{
    margin-bottom: 1rem;
}

.card .img p{
    line-height: 1.5;
}
/* main-section about end */
/* main-section cosmetic start */
.cosmetic-about{
    display: flex;
    align-items: center;
}

.left-section-csmtc{
    padding: 0rem 6rem 0rem 11rem;
}

.csmtc-content h3{
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    padding-bottom: 1rem;
}

.csmtc-content p{
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #626262;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
}

.csmtc-type .safety{
    width: 25px;
    margin-left: 22.5rem;
}

.csmtc-type .quality{
    width: 25px;
    margin-left: 21.8rem;
}

.csmtc-type .vegan{
    width: 25px;
    margin-left: 22.8rem;
}

.csmtc-type p{
    padding-top: 1.6rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16.80px;
    color: black;
}

.csmtc-img img{
    margin-right: 4rem;
    margin-top: 5rem;
    width: 40rem;
    height: 40rem;
}
/* main-section cosmetic end */
/* main-section 8things start */
.card-checklist{
    background-color: #f2f2f2;
    margin: 10rem 4rem;
    padding: 13rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
}

.content-8thing{
    margin-bottom: 1.4rem;
}

.content-8thing h3{
    font-size: 47px;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    line-height: 1.1;
}

.link-check p a{
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(98, 98, 98);
    transition: 0.2s;
}

.link-check p a:hover{
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}
/* main-section 8things end */
/* main-sec prdct fabulous start */
.prdct-fabulous{
    display: flex;
    align-items: center;
}

.left-img-prdct{
    margin-left: 4rem;
}

.left-img-prdct img{
    width: 40rem;
    height: 40rem;
}

.right-prdct-about{
    padding-left: 6rem;
    width: 46%;
}

.right-prdct-about h3{
    font-size: 47px;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    line-height: 1.1;
}

.right-prdct-about p em{
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #626262;
}

.right-prdct-about p{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 16.84px;
    line-height: 1.5;
}

.right-prdct-about a{
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #ff0000;
    padding: 0.7rem 2.8rem;
    transition: 0.4s;
}

.right-prdct-about a:hover{
    color: white;
    background-color: #ff0000;
}
/* main-sec prdct fabulous end */
/* main-sec prdct offer start */
.prdct-offer{
    display: flex;
    align-items: center;
}

.left-img-offer{
    margin-left: 4rem;
    margin-top: 10rem;
}

.left-img-offer img{
    width: 40rem;
    height: 40rem;
}

.right-img-offer{
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9.8rem;
    width: 40rem;
    height: 40rem;
    font-weight: 700;
}

.right-img-offer img{
    width: 15rem;
    height: 15rem;
}

.right-img-offer h3{
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
}

.right-img-offer a{
    color: #626262;
    text-transform: uppercase;
    transition: 0.3s;
}

.right-img-offer a:hover{
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}
/* main-sec prdct offer end */
/* main-sec prdct care cr start */
.prdct-care{
    display: flex;
    align-items: center;
    margin-top: 8rem;
}

.left-prdct-care{
    padding-left: 4rem;
    width: 46%;
}

.left-prdct-care h3{
    font-size: 47px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1rem;
}

.left-prdct-care span{
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #626262;
}

.left-prdct-care p{
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    font-size: 16.84px;
    line-height: 1.5;
}

.left-prdct-care a{
    color: #626262;
    border: 2px solid #ff0000;
    padding: 0.7rem 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.left-prdct-care a:hover{
    color: white;
    background-color: #ff0000;
}

.right-prdct-care-imgs{
    display: flex;
    gap: 35px;
    margin-left: 4.5rem;
    position: relative;
}

.right-prdct-care-imgs img{
    width: 18rem;
    height: 400px;
}

.right-prdct-care-imgs .img-price-1{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    left: 5rem;
    top: 19rem;
    bottom: 0;
    text-align: center;
}

.right-prdct-care-imgs .img-price-2{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    left: 25rem;
    top: 19rem;
    bottom: 0;
    text-align: center;
}

.prdct-care-img .price{
    font-weight: 400;
    font-size: 16.84px;
}
/* main-sec prdct care cr end */
/* main-sec prdct bestseller start */
.best-content h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10rem;
    margin-bottom: 6rem;
}

.best-products{
    display: flex;
    gap: 35px;
    margin-left: 4rem;
    position: relative;
}

.best-products img{
    width: 26rem;
    height:500px;
}



.best-prdct1 .item-content{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    bottom: 3.5rem;
    left: 10rem;
}

.best-prdct2 .item-content{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    bottom: 3.5rem;
    right: 41rem;
}

.best-prdct3 .item-content{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    bottom: 3.5rem;
    right: 13.4rem;
}

.item-content .price{
    font-weight: 400;
    font-size: 16.84px;
}

