* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

.header-nav {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}
.header-nav .nav-top {
  padding: 20px 2px;
  background-color: #262626;
  position: relative;
}
.header-nav .nav-top .hdr-img {
  margin-left: 1.3rem;
  width: 152px;
}
.header-nav .nav-top .hdr-btn {
  margin-right: 1.3rem;
  position: absolute;
  right: 0;
}
.header-nav .nav-top .hdr-btn a {
  border: none;
  background-color: #7aa93c;
  padding: 9px 21px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  box-shadow: 0 2px 0 #6f9a37;
  font-family: nunito_md;
}
.header-nav .nav-top .hdr-btn a:hover {
  background-color: #6f9a37;
}

.fix-icons .spin-cog {
  position: absolute;
  position: fixed;
  top: 14rem;
  background-color: #6168FF;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 12px 12px;
  cursor: pointer;
}
.fix-icons .spin-cog i {
  font-size: 25px;
  color: white;
}
.fix-icons .rocket-i {
  background-color: #6168FF;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: 0.6s;
}
.fix-icons .rocket-i:hover {
  background-color: #211E3B;
}
.fix-icons .rocket-i .rocket-icon {
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: nunito_regular;
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: nunito_md;
  src: url("../fonts/Nunito-Medium.ttf");
}
@font-face {
  font-family: nunito_bold;
  src: url("../fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: nunito_semibold;
  src: url("../fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: nunito_extrabold;
  src: url("../fonts/Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: "Material Icons";
  src: url("https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format("woff2");
}
@media (max-width: 767px) {
  .hdr-nav {
    opacity: 0;
  }
  .spin-cog {
    display: none;
  }
  .travel-content div p {
    font-size: 18px;
  }
  .travel-content div h1 {
    font-size: 31px;
  }
  .choose-img {
    margin-bottom: 30px;
  }
  .deals-title span {
    font-size: 45px;
  }
  .single-deal {
    width: 350px;
  }
  .card-test {
    height: 350px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .nav-bottom .menu-bars {
    display: none;
  }
  .hdr-nav {
    display: flex;
    justify-content: end;
  }
  .hdr-nav li a {
    font-size: 14px;
  }
  .travel-content p {
    font-size: 20px;
  }
  .travel-content h1 {
    font-size: 55px;
  }
  .choose-img {
    margin-top: 40px;
    margin-left: 0;
  }
  .deals-title span {
    font-size: 73px;
  }
  .single-deal {
    width: 600px;
  }
  .card-test {
    height: 350px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .nav-bottom .menu-bars {
    display: none;
  }
  .hdr-nav {
    display: flex;
    justify-content: end;
  }
  .hdr-nav .nav-list li {
    padding: 0 0 0 0.2rem;
  }
  .travel-content p {
    font-size: 20px;
  }
  .travel-content h1 {
    font-size: 55px;
  }
  .deals-title span {
    font-size: 73px;
  }
  .single-deal {
    width: 450px;
  }
}
@media (min-width: 1400px) {
  .nav-bottom .menu-bars {
    display: none;
  }
  .hdr-nav {
    display: flex;
    justify-content: end;
  }
  .hdr-nav .nav-list li {
    padding: 0 0 0 2rem;
  }
  .travel-content div p {
    font-size: 20px;
  }
  .travel-content div h1 {
    font-size: 55px;
  }
  .choose-img {
    margin-left: 30px;
  }
  .deals-title span {
    font-size: 73px;
  }
  .single-deal {
    width: 410px;
  }
}
.nav-bottom-bg {
  background-color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
}
.nav-bottom-bg .nav-bottom {
  margin-top: 0.5rem;
}
.nav-bottom-bg .nav-bottom .hdr-nav {
  display: flex;
  align-items: center;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list {
  padding-top: 1rem;
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 999;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list li a {
  padding: 24px 0 40px;
  transition: 0.6s;
  color: #333;
  font-family: nunito_bold;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list li a:hover {
  color: #6168FF;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list .drop-nav {
  position: relative;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list .drop-nav:hover .dropdown-content {
  display: block;
  background-color: white;
  color: #262626;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list .drop-nav:hover .dropdown-content a {
  color: #333;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list .drop-nav:hover .dropdown-content a:hover {
  background-color: #6168FF;
  color: white;
}
.nav-bottom-bg .nav-bottom .hdr-nav .nav-list .dropdown-content {
  margin-top: 1.5rem;
  width: 200px;
  display: none;
  position: absolute;
  top: 100%;
  left: -25px;
  border-top: 2px solid #6168FF;
  border-radius: 4px;
  padding: 15px;
  font-size: 14px;
}

.mn-bg {
  background-image: url("https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 650px;
  margin-top: 10rem;
}
.mn-bg .bg-opacity {
  background: rgba(0, 0, 0, 0.5);
  min-height: 650px;
}
.mn-bg .bg-opacity .travel-content {
  font-family: nunito_md;
  margin-top: 13rem;
  color: white;
}
.mn-bg .bg-opacity .travel-content div p {
  line-height: 30px;
}
.mn-bg .bg-opacity .travel-content div h1 {
  font-family: nunito_bold;
  line-height: 1.4;
}
.mn-bg .bg-opacity .travel-content div a {
  text-transform: uppercase;
  background-color: #6168FF;
  border: 2px solid #6168FF;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  padding: 13px 30px;
  transition: 0.3s;
  font-weight: 700;
}
.mn-bg .bg-opacity .travel-content div a:hover {
  border: 2px solid white;
  color: #fff;
  background-color: transparent;
}

.travel-about {
  padding: 130px 0;
}
.travel-about .material-icons {
  font-family: "Material Icons";
  color: #6168FF;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
}
.travel-about .tr-about-section {
  margin-bottom: 40px;
}
.travel-about .tr-about-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.travel-about .tr-about-section p {
  margin-bottom: 15px;
  color: #727272;
}
.travel-about .choose-img {
  position: relative;
  box-shadow: 18px 18px 26px 0 rgba(0, 1, 1, 0.2);
  z-index: -1;
}
.travel-about .choose-img img {
  width: 100%;
}
.travel-about .choose-img a:hover i {
  background-color: #211E3B;
}
.travel-about .choose-img a i {
  background-color: #6168FF;
  color: #fff;
  font-size: 45px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  line-height: 80px;
}

.deals-title {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  z-index: -1;
}
.deals-title span {
  line-height: 1;
  position: absolute;
  z-index: -981;
  font-family: nunito_extrabold;
  font-weight: 900;
  text-transform: uppercase;
  color: #efefef;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.deals-title h2 {
  z-index: -1;
  color: #6168FF;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.3;
  font-family: nunito_bold;
  font-weight: 700;
}
.deals-title p {
  font-size: 27px;
  color: #333;
  line-height: 25px;
  font-family: nunito_regular;
}

.top-deals .top-package .owl-stage-outer {
  overflow: hidden;
}
.top-deals .top-package .owl-stage-outer .owl-stage {
  width: 3864px;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item {
  display: flex;
  margin-bottom: 5rem;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal {
  margin-right: 30px;
  border: 1px solid #ebe6de;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  position: relative;
  z-index: -1;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal a {
  color: #727272;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal a img {
  width: 100%;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal a .deal-caption {
  padding: 25px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal a .deal-caption div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal a .deal-caption h4 {
  color: #333;
  font-family: nunito_bold;
  font-weight: 700;
}
.top-deals .top-package .owl-stage-outer .owl-stage .owl-item .single-deal a .deal-caption span {
  font-size: 16px;
  font-family: nunito_semibold;
  font-weight: 600;
}

.services .services-text .service {
  margin-bottom: 30px;
  background-color: #F4F9FF;
  border-radius: 5px;
  padding: 35px 35px 20px;
}
.services .services-text .service .ser-icon {
  color: #6168FF;
  float: left;
  margin-right: 20px;
}
.services .services-text .service .ser-icon i {
  font-size: 50px;
}
.services .services-text .service .ser-text {
  overflow: hidden;
}
.services .services-text .service .ser-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: nunito_bold;
  font-weight: 700;
}
.services .services-text .service .ser-text p {
  margin-bottom: 15px;
  color: #727272;
}

.all-sec {
  padding: 130px 0;
}
.all-sec .portfolio-grid {
  position: relative;
}
.all-sec .portfolio-grid .row .portfolio-item {
  margin-bottom: 30px;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery {
  position: relative;
  overflow: hidden;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery:hover {
  background-color: #6168FF;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery:hover .gallery-icon {
  opacity: 1;
  right: 20px;
  bottom: 20px;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery:hover .gallery-icon:hover {
  background-color: #212a42;
  color: #fff;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery:hover h4 {
  opacity: 1;
  top: 50%;
  left: 30%;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery:hover::before {
  opacity: 0.8;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: #6168FF;
  opacity: 0;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery img {
  width: 100%;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery .gallery-icon {
  background-color: #fff;
  color: #333;
  width: 45px;
  height: 45px;
  line-height: 46px;
  position: absolute;
  right: 0;
  bottom: 20px;
  text-align: center;
  padding-top: 3px;
  border-radius: 50px;
  font-size: 19px;
  transition: 0.5s;
  opacity: 0;
}
.all-sec .portfolio-grid .row .portfolio-item .single-gallery h4 {
  position: absolute;
  top: 80%;
  left: 30%;
  transition: 0.5s;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  opacity: 0;
}

.single-package {
  margin: 0 0px 30px;
  border: 1px solid #ebe6de;
}
.single-package a {
  color: #727272;
}
.single-package a .pack-image img {
  width: 100%;
  position: relative;
}
.single-package a .pack-hover {
  padding: 30px;
  position: relative;
}
.single-package a .pack-hover .pack_price {
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: -26px;
  right: 10px;
  background-color: #6168FF;
  border-radius: 30px;
  padding: 9px 18px;
  transition: 0.5s;
  display: inline-block;
}
.single-package a .pack-hover .pack_price:hover {
  background-color: #212a42;
}
.single-package a .pack-hover .tour-rating {
  color: #fec42d;
  margin-bottom: 9px;
  font-size: 13px;
}
.single-package a .pack-hover h5 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: nunito_bold;
  font-weight: 700;
}
.single-package a .pack-hover .pac-meta i {
  color: #333;
}
.single-package a .pack-hover .pac-meta .psingle-meta {
  margin-right: 5px;
}

.partner-logo {
  background-image: url("https://getmasum.com/html-preview/nour/assets/img/bg/client-bg.png");
  background-color: #6168FF;
  position: relative;
  padding: 80px 30px;
  margin-top: 5rem;
  margin-bottom: 7rem;
  overflow: hidden;
}
.partner-logo .logo-carousel .logo1 a img {
  border-radius: 4px;
}

.testimonials {
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 7rem;
}
.testimonials .card-test {
  background-color: #F4F9FF;
  color: #333;
  border-radius: 4px;
  padding: 40px 28px;
  text-align: center;
}
.testimonials .card-test .test-img {
  position: relative;
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
.testimonials .card-test .test-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 19px;
  display: inline-block;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
}
.testimonials .card-test .test-img::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 0;
  background-image: url("https://getmasum.com/html-preview/nour/assets/img/quote-img.png");
  height: 40px;
  width: 40px;
  background-color: #6168FF;
  background-repeat: no-repeat;
  background-position: 11px;
  border-radius: 50%;
}
.testimonials .card-test .test-content {
  font-size: 18px;
  line-height: 25px;
  font-family: nunito_regular;
  font-weight: 400;
}
.testimonials .card-test .test-bottom h3 {
  font-size: 19px;
  font-family: nunito_bold;
  font-weight: 700;
  text-transform: capitalize;
  margin: 2px 0 6px 0;
}
.testimonials .card-test .test-bottom .test-rating {
  color: #ffc000;
  font-size: 12px;
  margin-top: 10px;
}

.blog {
  overflow: hidden;
  padding: 50px 0 130px 0;
}
.blog .single-blog {
  margin-bottom: 30px;
  border: 1px solid #ebe6de;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  position: relative;
}
.blog .single-blog .blog_image {
  position: relative;
}
.blog .single-blog .blog_image img {
  width: 100%;
  display: block;
}
.blog .single-blog .blog_text {
  padding: 30px 30px;
}
.blog .single-blog .blog_text span {
  color: #333;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 14px;
  font-size: 14px;
}
.blog .single-blog .blog_text span i {
  padding-right: 3px;
}
.blog .single-blog .blog_text h4 {
  line-height: 32px;
}
.blog .single-blog .blog_text h4 a {
  color: #333;
  font-size: 24px;
  transition: 0.5s;
}
.blog .single-blog .blog_text h4 a:hover {
  color: #6168FF;
}

.contact form {
  background-color: #F4F9FF;
  padding: 55px 40px;
  border-radius: 4px;
}
.contact form .form-control {
  padding: 13px 23px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 30px;
}
.contact form textarea {
  height: 197px;
}
.contact form .send-btn input {
  background-color: #6168FF;
  border: 2px solid #6168FF;
  color: #fff;
  font-size: 13px;
  padding: 12px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.3s;
  font-family: nunito_bold;
  font-weight: 700;
}
.contact form .send-btn input:hover {
  background: #211E3B;
  border: 2px solid #211E3B;
  color: #fff;
}

.footer {
  margin-top: 100px;
  background-color: #00102A;
  padding: 250px 0 40px;
  color: #fff;
  -webkit-clip-path: polygon(0 250px, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 250px, 100% 0, 100% 100%, 0% 100%);
}
.footer .footer-top {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(247, 243, 243, 0.3);
}
.footer .footer-top .footer-widget {
  margin-bottom: 30px;
}
.footer .footer-top .footer-widget img {
  margin-bottom: 25px;
  width: 150px;
}
.footer .footer-top .footer-widget .footer-contact-info p {
  margin-bottom: 15px;
}
.footer .footer-top .footer-widget .footer-contact-info p i {
  margin-right: 20px;
  float: left;
  font-size: 24px;
}
.footer .footer-top .footer-widget .footer-contact-info p span {
  display: block;
  overflow: hidden;
}
.footer .footer-top .footer-widget h3 {
  position: relative;
  font-size: 17px;
  margin-bottom: 26px;
  color: #fff;
  text-transform: uppercase;
}
.footer .footer-top .footer-widget ul {
  padding-left: 0;
}
.footer .footer-top .footer-widget ul li {
  line-height: 32px;
}
.footer .footer-top .footer-widget ul li a {
  color: #fff;
  transition: 0.6s;
}
.footer .footer-top .footer-widget ul li a:hover {
  color: #6168FF;
}
.footer .footer-top .footer-widget input {
  height: 45px;
  line-height: 45px;
}
.footer .footer-top .footer-widget button {
  background-color: #6168FF;
  border: 2px solid #6168FF;
  color: #fff;
  font-size: 13px;
  padding: 12px 30px;
  margin-top: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.3s;
  font-family: nunito_bold;
  font-weight: 700;
}
.footer .footer-top .footer-widget button:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid #211E3B;
}
.footer .footer_bottom {
  font-size: 15px;
}
.footer .footer_bottom p a {
  color: #fff;
  font-family: nunito_bold;
  font-weight: 700;
  transition: 0.5s;
}
.footer .footer_bottom p a:hover {
  color: #6168FF;
}
.footer .footer_bottom ul li a {
  font-size: 18px;
  color: #6168FF;
  transition: 0.5s;
}
.footer .footer_bottom ul li a:hover {
  color: #fff;
}/*# sourceMappingURL=style.css.map */