* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metropolis', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    line-height: 1.5;
}
html{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}