/* header navbar part start */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.left-header a {
    color: #2a3542;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2rem 5rem;
}

.right-header ul {
    display: flex;
    padding-left: 25.5rem;
}

.right-header a {
    color: #787b7f;
    font-weight: 500;
    padding-left: 2.2rem;
    letter-spacing: 1.1px;
}

li :hover {
    color: black;
}

.right-buynow a {
    color: white;
    background-color: #0161f2;
    font-size: 14px;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    margin-right: 4rem;
}

.right-buynow :hover {
    background-color: rgb(56, 56, 197);
}
/* header navbar part end */
/* Main Section start */
.l-r-pages {
    background-image: url("https://sb-ui-kit-pro.startbootstrap.com/assets/img/backgrounds/pattern-shapes.png");
    background-color: #6900c7;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
}



.left-pages {
    padding: 14rem 6rem;
}

.start-today {
    background-color: white;
    display: inline-block;
    border-radius: 10rem;
    padding: 0.2em 1.3em;
    font-size: 0.75em;
    font-weight: 400;
    color: rgb(105, 0, 199);
    margin-bottom: 1rem;
    background-color: #e4ddf7;
}

.h1-header h1 {
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}

.page-header p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15rem;
}

/* left-pages end */
/* right-form start */
.sign-up {
    color: rgb(0, 97, 242);
    font-size: 16px;
    font-weight: 500;
    padding: 1.5rem 1.35rem;
    background-color: #f8f8f9;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    ;
}

.right-pages {
    background-color: white;
    border-radius: 10px;
    margin-right: 5.3rem;
    margin-bottom: 2rem;
}

.form {
    padding: 1.35rem;
    font-size: 14px;
    color: rgb(105, 112, 122);
}

.form-n-l {
    display: flex;
    padding-bottom: 1rem;
    color: #69707a;
}

.form-n {
    padding-right: 2.5rem;
}

#f-name,
#l-name {
    width: 18rem;
    padding: 0.8rem;
    border-radius: 6px;
    border: 1px solid #c5ccd6;
    color: #69707a;
    outline: none;
}

#email,
#company {
    width: 38.5rem;
    padding: 0.8rem;
    border-radius: 6px;
    border: 1px solid #c5ccd6;
    color: #69707a;
    outline: none;
}

.form-e-c {
    padding-bottom: 2rem;
    color: #69707a;
}

.form-e {
    padding-bottom: 1rem;
}

.btn-download a {
    padding: 0.9rem 16.2rem;
    color: white;
    background-color: #0161f2;
    border-radius: 6px;
    border: 1px solid;
    font-weight: 500;
    font-size: 14px;
}

.btn-download {
    padding-bottom: 1rem;
}

.btn-download :hover {
    background-color: #0045ad
}
/* right-form end */
/* section-part logo start */
.par-here {
    text-align: right;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: #d4dae3;
    padding-right: 1rem;
}

.logo1 img {
    width: 13rem;
    padding-left: 1rem;
}

.logo1 {
    display: flex;
    justify-content: space-between;
}

.logos {
    padding: 4rem;
}

.svg-border2 {
    background-color: #f2f6fc;
    height: 6rem;
    opacity: 1;
}
/* section-part logo end */
/* section cards start */
.marketing {
    padding: 7rem 5rem;
}

.div-marketing {
    display: inline-block;
    background-color: rgb(228, 221, 247);
    padding: 0.4em 1.4em;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(105, 0, 199);
    margin-bottom: 1rem;
}

.h2-capture {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(54, 61, 71);
    margin-bottom: 0.5rem;
}

.page-sec {
    color: #909193;
    font-size: 18.6px;
    font-weight: 400;
    width: 55rem;
}

.cards {
    background-color: #f2f6fc;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.card-1 {
    background-color: white;
    padding: 2.5rem;
    width: 43%;
    margin-left: 5rem;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 8px;
    margin-bottom: 2.5rem;
}

.card-1 img {
    background: rgb(228, 221, 247);
    border-radius: 50px;
    width: 5rem;
    padding: 20px;
    margin-bottom: 1rem;
}

.card-1 h3 {
    color: rgb(54, 61, 71);
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.card-1 p {
    color: #909193;
    font-weight: 400;
}

.card-2 {
    background-color: white;
    padding: 2.5rem;
    width: 43%;
    margin-left: 2.7rem;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 8px;
    margin-bottom: 2.5rem;
}

.card-2 img {
    background: #daefed;
    border-radius: 50px;
    width: 5rem;
    padding: 20px;
    margin-bottom: 1rem;
}

.card-2 h3 {
    color: rgb(54, 61, 71);
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.card-2 p {
    color: #909193;
    font-weight: 400;
}

.card-3 {
    background-color: white;
    padding: 2.5rem;
    width: 43%;
    margin-left: 5rem;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 8px;
}

.card-3 img {
    background: #d9e7fb;
    border-radius: 50px;
    width: 5rem;
    padding: 20px;
    margin-bottom: 1rem;
}

.card-3 h3 {
    color: rgb(54, 61, 71);
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.card-3 p {
    color: #909193;
    font-weight: 400;
}

.card-4 {
    background-color: white;
    padding: 2.5rem;
    width: 43%;
    margin-left: 2.7rem;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 8px;
}

.card-4 img {
    background: #f2eee3;
    border-radius: 50px;
    width: 5rem;
    padding: 20px;
    margin-bottom: 1rem;
}

.card-4 h3 {
    color: rgb(54, 61, 71);
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.card-4 p {
    color: #909193;
    font-weight: 400;
}
/* section cards end */
/* section created account start */
.started {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 224, 224);
}

.created-account {
    padding: 5.3rem;
}

.created-account h4 {
    margin-bottom: 8px;
    color: rgb(0, 97, 242);
    font-size: 19.2px;
    font-weight: 500;
}

.created-account p {
    color: #69707a;
    opacity: 1;
    font-size: 17.8px;
    font-weight: 400;
}

.start-now a {
    font-weight: 500;
    font-size: 15px;
}

.created-account a {
    color: white;
}

#_start {
    background-color: #0161f2;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 12px 18px;
}

#_contact {
    color: rgba(33, 40, 50, 0.5);
    border: 1px solid white;
    padding: 12px 18px;
    border-radius: 6px;
    margin-right: 4rem;
    margin-left: 2rem;
}

#_start:hover {
    background-color: rgb(56, 56, 197);
}

#_contact:hover {
    background-color: rgb(243, 239, 239);
}
/* section created account end */
/* footer section start */
/* footer-part left start */
.footer-part-main {
    color: #a7aeb8;
    padding-top: 6rem;
    margin-left: 4.8rem;
    display: flex;
    margin-bottom: 4rem;
}

.footer-part {
    display: flex;
}

.sb-kit {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.design-made {
    margin-bottom: 1rem;
}
.pin-logo{
letter-spacing: 7px;
}
/* footer-part left end */
/* product-list start */
.prdct {
    margin-left: 14rem;
    margin-right: 10.6rem;
}

.ftr-head {
    margin-bottom: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.ftr-list a {
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.8rem;
}

.ftr-list a:hover {
    text-decoration: underline;
}
/* product-list end */
/* tech-list start */
.tech {
    padding-right: 9rem;
}
/* tech-list end */
/* include-list start */
.include {
    margin-right: 10.5rem;
}
/* include-list end */
/* hr style start*/
.my-hr {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
    opacity: 0.3;
    margin-bottom: 3rem;
}
/* hr style end */
/* copyright part start */
.copy-ftr {
    display: flex;
    justify-content: space-between;
    font-size: 12.25px;
    margin-left: 4.8rem;
    margin-right: 4.8rem;
    color: #a7aeb8;
    margin-bottom: 3rem;
}

.privacy-ftr a {
    color: inherit;
    letter-spacing: 0.5px;
}

.privacy-ftr a:hover {
    text-decoration: underline;
}
/* copyright part end */