@import "_reset.scss";

@media (min-width: 992px) {
    .inp {
        height: 140px;
    }

    .hdr-top-left {
        display: flex;
        flex-wrap: wrap;
    }

    .lang-all {
        position: absolute;
        position: fixed;
        right: 16.5rem;
        top: 4rem;
        border: 1px solid transparent;
        box-shadow: 3px 2px 11px 0px;
        z-index: 2;
        background-color: white;
        cursor: pointer;
    }

    .hdr-abb-logo {
        .burger-menu {
            display: none;
        }

        a {
            img {
                height: 50px;
            }
        }
    }
}

@media (max-width: 992px) {
    .hdr-top-left {
        display: none;
    }

    .hdr-top-right {
        .search {
            span {
                display: none;
            }
        }

    }

    .hdr-bottom2 {
        .hdr-abb-logo {
            a {
                img {
                    height: 35px;
                }
            }
        }

        .hdr-btm2-nav {
            a {
                display: none;
            }
        }

        .hdr-btm2-right {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .inp {
        font-size: 40px;
        height: 75px;
    }
}

@media (max-width: 768px) {
    .inp {
        font-size: 18px;
        height: 75px;
    }

    .lang-all {
        position: absolute;
        position: fixed;
        right: 6.5rem;
        top: 4rem;
        border: 1px solid transparent;
        box-shadow: 3px 2px 11px 0px;
        z-index: 2;
        background-color: white;
        cursor: pointer;
    }
}

#hdr-top {
    background-color: #f6f7f8;
    overflow: hidden;

    .hdr-top-left {
        .hdr-top-btn {
            a {
                color: #0056c1;
                text-decoration: none;
                border: 1px solid #0056c1;
                border-radius: 50px;
                padding: 6px 13px;
                font-size: 14px;
                transition: .3s;
                font-weight: 600;

                &:hover {
                    background-color: #0056c1;
                    color: white;
                }
            }
        }

        .hdr-top-a {
            a {
                color: #666;
                text-decoration: none;
                font-size: 14px;
                margin: 0 8px;

                &:hover {
                    text-decoration: underline;
                }

            }

        }
    }

    .mobil-hdr {
        color: #666;

        h4 {
            font-size: 18px;
        }

        .arrow-hdr {
            background-image: url("https://abb-bank.az/img/icons/select-arrow-down.svg");
            width: 17px;
            height: 11px;
            background-repeat: no-repeat;
            rotate: 180deg;
            padding-left: 20px;
        }
    }

    .hdr-top-right {
        span {
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: #666;

            span {
                font-size: 16px;
                font-weight: 600;
            }

            .icon-phone {
                background-image: url("https://abb-bank.az/img/icons/phone.svg");
                background-repeat: no-repeat;
                width: 20px;
            }
        }

        .lang {
            position: relative;

            .lang-view {
                cursor: pointer;

                span {
                    font-size: 14px;
                    color: #666;
                }

                .lang-arrow {
                    background-image: url("https://abb-bank.az/img/icons/select-arrow-down.svg");
                    display: inline-block;
                    width: 17px;
                    height: 11px;
                    background-repeat: no-repeat;
                    transition: .5s;
                    rotate: 180deg;
                }

                .lang-arrow.rotate {
                    transform: rotate(180deg);
                }
            }

            .lang-all {


                div {
                    display: flex;
                    gap: 5px;
                    padding: 20px 100px 20px 20px;

                    &:hover {
                        background-color: #f5f5f5;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }

                    a {
                        font-size: 16px;
                        color: #666;
                    }
                }

                i {
                    clip-path: polygon(50% 0%, 11% 68%, 90% 68%);
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    position: absolute;
                    top: -14px;
                    right: 18px;
                }
            }
        }

        .search {
            margin-right: 2rem;
            cursor: pointer;

            .search-icon {
                background-image: url("https://abb-bank.az/img/icons/search.svg");
                background-repeat: no-repeat;
                display: inline-block;
                width: 20px;
                height: 20px;
                padding-right: 1.5rem;

            }
        }

    }
}


#hdr-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .hdr-bottom2 {
        overflow: hidden;
        

        .hdr-abb-logo {
            .hdr-btm2-nav {
                margin-left: 4rem;
                display: flex;
                gap: 4px;

                .individual {
                    color: #262626;
                    font-weight: 500;

                    &::after {
                        content: "/";
                        color: #262626;
                        font-size: 15px;
                        padding: 0 20px;
                    }
                }

                .corporative {
                    &::after {
                        content: "/";
                        color: #666;
                        font-size: 15px;
                        padding: 0 20px;
                    }
                }

                a {
                    text-decoration: none;
                    color: #666;
                    font-weight: 500;
                    font-size: 15px;

                    &:hover {
                        color: #262626;
                    }
                }
            }

            .burger-icon {
                display: flex;
                align-items: center;
                cursor: pointer;
                

            }
        }

        .hdr-btm2-right {
            a {
                text-decoration: none;

                .right-logo {
                    background-image: url("https://abb-bank.az/img/icons/internet-banking-signin.svg");
                    background-repeat: no-repeat;
                    background-position: 50%;
                    height: 30px;
                    width: 30px;
                    display: inline-block;
                    margin-right: 10px;
                }

                .right-int {
                    color: #0056c1;
                    font-weight: 600;
                }
            }


        }
    }
}


#hdr-search {
    .search-sec {
        position: absolute;
        background-color: white;
        top: 50px;

        form {
            label {
                width: 100%;
                position: relative;

                input {
                    width: 100%;
                    border: none;
                    background: transparent;
                    outline: none;
                    font-weight: 300;
                }
            }

            div {
                span {
                    cursor: pointer;

                }
            }
        }
    }
}


.all-burger {
    .burger-int {
        background-color: #0056c1;
        padding: 0.5rem;

        a {
            color: white;
            text-decoration: none;

            .right-logo2 {
                background-image: url("https://abb-bank.az/img/icons/internet-banking-signin.svg");
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                filter: invert(94%) sepia(83%) saturate(0) hue-rotate(39deg) brightness(145%) contrast(101%);
            }
        }
    }

    .burger-about {
        overflow: auto;
        white-space: nowrap;

        a {
            text-decoration: none;
            color: #666;
            font-size: 14px;
            background-color: #f9f9f9;
            padding: 1rem;
            margin-right: 1rem;
        }
    }

    .scroll-bar {
        transition: color .4s;

        &::-webkit-scrollbar-thumb {
            background-clip: content-box;
            border: 4px solid transparent;
            border-radius: 7px;
            box-shadow: inset 0 0 0 10px;
        }

        &::-webkit-scrollbar {
            width: 14px
        }
    }

    .scroll-bar-horizontal,
    .scroll-bar:hover {
        color: #3b8ae0;
    }

    .scroll-bar-horizontal::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    .burger-nav {
        .ac-menu {
            padding-top: 0.5rem;
            padding-bottom: 0.3rem;
            cursor: pointer;
            border-bottom: 1px solid #e4e4e4;

            .burger-arrow {
                background-image: url("https://abb-bank.az/img/icons/select-arrow-down.svg");
                height: 14px;
                width: 16px;
                background-color: white;
                padding-left: 16px;
                background-repeat: no-repeat;
                transition: .5s;
                rotate: 180deg;
            }

            .burger-arrow.rotate {
                transform: rotate(180deg);
            }

            h4 {
                font-weight: 400;
                font-size: 18px;

                a {
                    color: #262626;
                    text-decoration: none;
                    font-size: 18px;
                }
            }

            .ac-2 {
                height: 0;
                transition: all 600ms ease 0s;
                visibility: hidden;
                padding-top: 1rem;
                overflow: hidden;

                div {
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        color: #262626;
                        padding-bottom: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }

}