* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@media (min-width: 992px) {
  .search-sec form {
    height: 160px;
  }
  .hdr-top-left {
    display: flex;
    flex-wrap: wrap;
  }
  .lang-all {
    position: absolute;
    position: fixed;
    right: 16.5rem;
    top: 4rem;
    border: 1px solid transparent;
    box-shadow: 3px 2px 11px 0px;
    z-index: 2;
    background-color: white;
    cursor: pointer;
  }
  .hdr-abb-logo .burger-icon {
    display: none;
  }
  .hdr-abb-logo a img {
    height: 50px;
  }
}
@media (max-width: 992px) {
  .hdr-top-left {
    display: none;
  }
  .hdr-top-right .search span {
    display: none;
  }
  .hdr-btm .hdr-abb-logo a img {
    height: 35px;
  }
  .hdr-btm .hdr-btm2-nav a {
    display: none;
  }
  .hdr-btm .hdr-btm2-right {
    display: none;
  }
  #hdr-bottom2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .inp {
    font-size: 40px;
    height: 75px;
  }
}
@media (max-width: 768px) {
  .inp {
    font-size: 18px;
    height: 75px;
  }
  .lang-all {
    position: absolute;
    position: fixed;
    right: 6.5rem;
    top: 4rem;
    border: 1px solid transparent;
    box-shadow: 3px 2px 11px 0px;
    z-index: 2;
    background-color: white;
    cursor: pointer;
  }
}
#hdr-top {
  background-color: #f6f7f8;
  overflow: hidden;
}
#hdr-top .hdr-top-left .hdr-top-btn a {
  color: #0056c1;
  text-decoration: none;
  border: 1px solid #0056c1;
  border-radius: 50px;
  padding: 6px 13px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: 600;
}
#hdr-top .hdr-top-left .hdr-top-btn a:hover {
  background-color: #0056c1;
  color: white;
}
#hdr-top .hdr-top-left .hdr-top-a a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
  margin: 0 8px;
}
#hdr-top .hdr-top-left .hdr-top-a a:hover {
  text-decoration: underline;
}
#hdr-top .mobil-hdr {
  color: #666;
}
#hdr-top .mobil-hdr h4 {
  font-size: 18px;
}
#hdr-top .mobil-hdr .arrow-hdr {
  background-image: url("https://abb-bank.az/img/icons/select-arrow-down.svg");
  width: 17px;
  height: 11px;
  background-repeat: no-repeat;
  rotate: 180deg;
  padding-left: 20px;
}
#hdr-top .hdr-top-right span {
  font-size: 14px;
}
#hdr-top .hdr-top-right a {
  text-decoration: none;
  color: #666;
}
#hdr-top .hdr-top-right a span {
  font-size: 16px;
  font-weight: 600;
}
#hdr-top .hdr-top-right a .icon-phone {
  background-image: url("https://abb-bank.az/img/icons/phone.svg");
  background-repeat: no-repeat;
  width: 20px;
}
#hdr-top .hdr-top-right .lang {
  position: relative;
}
#hdr-top .hdr-top-right .lang .lang-view {
  cursor: pointer;
}
#hdr-top .hdr-top-right .lang .lang-view span {
  font-size: 14px;
  color: #666;
}
#hdr-top .hdr-top-right .lang .lang-view .lang-arrow {
  background-image: url("https://abb-bank.az/img/icons/select-arrow-down.svg");
  display: inline-block;
  width: 17px;
  height: 11px;
  background-repeat: no-repeat;
  transition: 0.5s;
  rotate: 180deg;
}
#hdr-top .hdr-top-right .lang .lang-view .lang-arrow.rotate {
  transform: rotate(180deg);
}
#hdr-top .hdr-top-right .lang .lang-all div {
  display: flex;
  gap: 5px;
  padding: 20px 100px 20px 20px;
}
#hdr-top .hdr-top-right .lang .lang-all div:hover {
  background-color: #f5f5f5;
}
#hdr-top .hdr-top-right .lang .lang-all div img {
  width: 24px;
  height: 24px;
}
#hdr-top .hdr-top-right .lang .lang-all div a {
  font-size: 16px;
  color: #666;
}
#hdr-top .hdr-top-right .lang .lang-all i {
  -webkit-clip-path: polygon(50% 0%, 11% 68%, 90% 68%);
          clip-path: polygon(50% 0%, 11% 68%, 90% 68%);
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: -14px;
  right: 18px;
}
#hdr-top .hdr-top-right .search {
  margin-right: 2rem;
  cursor: pointer;
}
#hdr-top .hdr-top-right .search .search-icon {
  background-image: url("https://abb-bank.az/img/icons/search.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 1.5rem;
}

#hdr-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #262626;
  border-color: #f6f7f8;
}
#hdr-bottom .hdr-btm {
  overflow: hidden;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .hdr-btm2-nav {
  margin-left: 4rem;
  display: flex;
  gap: 4px;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .hdr-btm2-nav .individual {
  color: #262626;
  font-weight: 500;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .hdr-btm2-nav .individual::after {
  content: "/";
  color: #262626;
  font-size: 15px;
  padding: 0 20px;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .hdr-btm2-nav .corporative::after {
  content: "/";
  color: #666;
  font-size: 15px;
  padding: 0 20px;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .hdr-btm2-nav a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  font-size: 15px;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .hdr-btm2-nav a:hover {
  color: #262626;
}
#hdr-bottom .hdr-btm .hdr-abb-logo .burger-icon {
  cursor: pointer;
}
#hdr-bottom .hdr-btm .hdr-btm2-right a {
  text-decoration: none;
}
#hdr-bottom .hdr-btm .hdr-btm2-right a .right-logo {
  background-image: url("https://abb-bank.az/img/icons/internet-banking-signin.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
}
#hdr-bottom .hdr-btm .hdr-btm2-right a .right-int {
  color: #0056c1;
  font-weight: 600;
}

#hdr-search .search-sec {
  position: absolute;
  background-color: white;
  top: 50px;
  margin-top: 1.3rem;
}
#hdr-search .search-sec form label {
  width: 100%;
  position: relative;
}
#hdr-search .search-sec form label input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 300;
}
#hdr-search .search-sec form div span {
  cursor: pointer;
}

.all-burger .burger-int {
  background-color: #0056c1;
  padding: 0.5rem;
}
.all-burger .burger-int a {
  color: white;
  text-decoration: none;
}
.all-burger .burger-int a .right-logo2 {
  background-image: url("https://abb-bank.az/img/icons/internet-banking-signin.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  filter: invert(94%) sepia(83%) saturate(0) hue-rotate(39deg) brightness(145%) contrast(101%);
}
.all-burger .burger-about {
  overflow: auto;
  white-space: nowrap;
}
.all-burger .burger-about a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 1rem;
  margin-right: 1rem;
}
.all-burger .scroll-bar {
  transition: color 0.4s;
}
.all-burger .scroll-bar::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}
.all-burger .scroll-bar::-webkit-scrollbar {
  width: 14px;
}
.all-burger .scroll-bar-horizontal,
.all-burger .scroll-bar:hover {
  color: #3b8ae0;
}
.all-burger .scroll-bar-horizontal::-webkit-scrollbar:horizontal {
  height: 12px;
}
.all-burger .burger-nav .ac-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  border-bottom: 1px solid #e4e4e4;
}
.all-burger .burger-nav .ac-menu .burger-arrow {
  background-image: url("https://abb-bank.az/img/icons/select-arrow-down.svg");
  height: 14px;
  width: 16px;
  background-color: white;
  padding-left: 16px;
  background-repeat: no-repeat;
  transition: 0.5s;
  rotate: 180deg;
}
.all-burger .burger-nav .ac-menu .burger-arrow.rotate {
  transform: rotate(180deg);
}
.all-burger .burger-nav .ac-menu h4 {
  font-weight: 400;
  font-size: 18px;
}
.all-burger .burger-nav .ac-menu h4 a {
  color: #262626;
  text-decoration: none;
  font-size: 18px;
}
.all-burger .burger-nav .ac-menu .ac-2 {
  height: 0;
  transition: all 600ms ease 0s;
  visibility: hidden;
  padding-top: 1rem;
  overflow: hidden;
}
.all-burger .burger-nav .ac-menu .ac-2 div a {
  font-size: 16px;
  text-decoration: none;
  color: #262626;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#hdr-bottom2 .hdr-btm2-nav {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#hdr-bottom2 .hdr-btm2-nav nav {
  position: relative;
}
#hdr-bottom2 .hdr-btm2-nav nav ul {
  display: flex;
}
#hdr-bottom2 .hdr-btm2-nav nav ul li {
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 1.3;
}
#hdr-bottom2 .hdr-btm2-nav nav ul li span {
  display: flex;
  align-items: center;
  position: relative;
}
#hdr-bottom2 .hdr-btm2-nav nav ul li a {
  color: #17253a;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav {
  opacity: 1;
  background-color: #fff;
  box-shadow: 0 20px 30px -30px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  padding: 40px 0 40px 50px;
  z-index: 10;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav span a {
  font-size: 17px;
  color: #262626;
  text-decoration: none;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav i {
  background-image: url("https://abb-bank.az/img/icons/close.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 30px;
  right: 50px;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav .hdr-btm-img {
  border-color: #ebebeb;
  border-left: 1px solid #ebebeb;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav .hdr-btm-img i {
  background-image: url("https://abb-bank.az/img/icons/close.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50px;
  right: 0;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav .hdr-btm-img .hdr-btm-img-nav h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav .hdr-btm-img .hdr-btm-img-nav span {
  font-size: 16px;
  margin-bottom: 1rem;
  display: flex;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav .hdr-btm-img .hdr-btm-img-nav a {
  color: #262626;
  border: 1px solid #262626;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 10px 30px;
  transition: 0.4s;
}
#hdr-bottom2 .hdr-btm2-nav nav ul .hdr-btm-nav .hdr-btm-img .hdr-btm-img-nav a:hover {
  background-color: #262626;
  color: #fff;
}/*# sourceMappingURL=style.css.map */